<div class="">
    <h1>PLEASE EDIT YOUR PROFILE HERE</h1>

</div>

<div class="Editdiv">
  <form method="post">
    <input class="input"type="text" name="firstname"placeholder="firstname"value="{{firstname}}">
    <input class="input"type="text" name="lastname" placeholder="lastname"value="{{lastname}}">
    <input class="input"type="text" name="email" placeholder="email"value="{{email}}">
    <input class="input"type="text" name="password"placeholder="password"value="{{password}}">
    <input class="input"type="text" name="age"placeholder="age"value="{{age}}">
    <input class="input"type="text" name="city" placeholder="city"value="{{city}}">
    <input class="input"type="text" name="homepage" placeholder="homepage"value="{{homepage}}">
    <button type="submit" name="button">UPDATE</button>
   </form>


</div>
