<div class="container">
  <div class="">
      <h1>PLEASE VERIFY YOUR PROFILE HERE</h1>

  </div>
  <div class="text-center edit-main-div">
    <div class="jumbotron" id='edit-pg-jumbo'>
        <img class="col-md-4 edit-profile-imgs" src="image6.png" alt="">
        <img class="col-md-4 edit-profile-imgs" src="image7.png" alt="">
    </div>
    <div class="  form2 row d-flex justify-content-around">
      <form method="post">
        <input class="input"type="text" name="firstname"placeholder="firstname"value="{{firstname}}">
        <input class="input"type="text" name="lastname" placeholder="lastname"value="{{lastname}}">
        <input class="input"type="text" name="email" placeholder="email"value="{{email}}">
        <input class="input"type="text" name="password"placeholder="password"value="{{password}}">
        <input class="input"type="text" name="age"placeholder="age"value="{{age}}">
        <input class="input"type="text" name="city" placeholder="city"value="{{city}}">
        <input class="input"type="text" name="homepage" placeholder="homepage"value="{{homepage}}">
        <button id="updatebutton"class="button"type="submit" name="button">UPDATE</button>
         <input name="_csrf" value="{{csrfToken}}" type="hidden"> <!-- security feature -->
       </form>


    </div>



  </div>


</div>
