<div class="">
    <h1>PLEASE EDIT YOUR PROFILE HERE</h1>

</div>

<div class="Editdiv">
  <form method="post">
    <input class="input"type="text" name="firstname"value="{{firstname}}">
    <input class="input"type="text" name="lastname"value="{{lastname}}">
    <input class="input"type="text" name="email"value="{{email}}">
    <input class="input"type="text" name="password"value="{{password}}">
    <input class="input"type="text" name="age"value="{{age}}">
    <input class="input"type="text" name="city"value="{{city}}">
    <input class="input"type="text" name="homepage"value="{{homepage}}">
    <button type="submit" name="button">UPDATE</button>
   </form>


</div>
